### Webscrapping for HDB Resale FlatCoordinates using the OneMap API

In [3]:
import pandas as pd

df = pd.read_excel("Resale flat prices based on registration date from Jan-2017 onwards.xlsx")

In [4]:
df.head(3)

,month,year_sold,month_sold,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,remaining_years,resale_price,full_address
0,2017-01,2017,1,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,61,232000.0,406 ANG MO KIO AVE 10
1,2017-01,2017,1,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,60,250000.0,108 ANG MO KIO AVE 4
2,2017-01,2017,1,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,62,262000.0,602 ANG MO KIO AVE 5

In [33]:
address = df['full_address'].unique()

address[0:5]

array(['406 ANG MO KIO AVE 10', '108 ANG MO KIO AVE 4',
       '602 ANG MO KIO AVE 5', '465 ANG MO KIO AVE 10',
       '601 ANG MO KIO AVE 5'], dtype=object)

In [30]:
import requests
import os
            
url = "https://www.onemap.gov.sg/api/auth/post/getToken"
            
payload = {
              "email": "gregoh1515@gmail.com",
              "password": "Medium2022!!"
            }
            
response = requests.request("POST", url, json=payload)
            
print(response.text)

{
  "access_token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxMDQ0NSwiZm9yZXZlciI6ZmFsc2UsImlzcyI6Ik9uZU1hcCIsImlhdCI6MTc2NTQ4MTc0MywibmJmIjoxNzY1NDgxNzQzLCJleHAiOjE3NjU3NDA5NDMsImp0aSI6IjY1ZjIxNmEyLTFkMmUtNDJiYy1hYmJkLTYzYzM2MGFjZTZjYyJ9.izEf_IluPmYrZPg5SdZMch4MxW4o7AH9Tk77QNIRr9gsDXg0_XHC60u8VxQ8ewu0HrxkFPpDZ-qD7sCAS9emwHhvYagCwNydMM4H0Fvz8O4JgN4f3X2LiwZXz-Tqq8mmrpQJ6hcKDoFOZLM1mhlEjFyFRAecg0vkwhowRaUgqahM49ogDZG-kucGftXCkMJbSkAFHFi2FNC1AUBNpuRgeBEcaP570vypHESUPl3ExNCPOkWFxFcf1VxLw8hfPJehtVTuKRAYtpbHxVqcqA5mxnMPUO4CE2xqvDWuy1f3O-lG2DKSYs0ge2tb-au7i-Dd8VSAo7_taSE-AHdxE2em7A",
  "expiry_timestamp": "1765740943"
}

In [23]:
import requests
      
url = "https://www.onemap.gov.sg/api/common/elastic/search?searchVal=560459&returnGeom=Y&getAddrDetails=Y&pageNum=1"
      
headers = {"Authorization": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxMDQ0NSwiZm9yZXZlciI6ZmFsc2UsImlzcyI6Ik9uZU1hcCIsImlhdCI6MTc2NTQ4MTc0MywibmJmIjoxNzY1NDgxNzQzLCJleHAiOjE3NjU3NDA5NDMsImp0aSI6IjY1ZjIxNmEyLTFkMmUtNDJiYy1hYmJkLTYzYzM2MGFjZTZjYyJ9.izEf_IluPmYrZPg5SdZMch4MxW4o7AH9Tk77QNIRr9gsDXg0_XHC60u8VxQ8ewu0HrxkFPpDZ-qD7sCAS9emwHhvYagCwNydMM4H0Fvz8O4JgN4f3X2LiwZXz-Tqq8mmrpQJ6hcKDoFOZLM1mhlEjFyFRAecg0vkwhowRaUgqahM49ogDZG-kucGftXCkMJbSkAFHFi2FNC1AUBNpuRgeBEcaP570vypHESUPl3ExNCPOkWFxFcf1VxLw8hfPJehtVTuKRAYtpbHxVqcqA5mxnMPUO4CE2xqvDWuy1f3O-lG2DKSYs0ge2tb-au7i-Dd8VSAo7_taSE-AHdxE2em7A"}
      
response = requests.get(url, headers=headers)
      
print(response.text)

{
  "found": 1,
  "totalNumPages": 1,
  "pageNum": 1,
  "results": [
    {
      "SEARCHVAL": "TECK GHEE GRANDEUR",
      "BLK_NO": "459",
      "ROAD_NAME": "ANG MO KIO AVENUE 10",
      "BUILDING": "TECK GHEE GRANDEUR",
      "ADDRESS": "459 ANG MO KIO AVENUE 10 TECK GHEE GRANDEUR SINGAPORE 560459",
      "POSTAL": "560459",
      "X": "30900.0113619054",
      "Y": "38783.6182403173",
      "LATITUDE": "1.36701964480661",
      "LONGITUDE": "103.859377190201"
    }
  ]
}

In [66]:
api_responses = []

for i in address:
    query_string="https://www.onemap.gov.sg/api/common/elastic/search?searchVal="+str(i)+"&returnGeom=Y&getAddrDetails=Y&pageNum=1"
    resp = requests.get(query_string, headers = headers)

    data=json.loads(resp.content)

    api_responses.append(data['results'][0])
    
#Export to excel
onemap_data = pd.DataFrame(api_responses)

onemap_data.to_excel("onemap_data.xlsx", index=False, sheet_name="Addresses")